In [39]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from matplotlib import pyplot as plt
import random

LOADING DATA

In [ ]:
original_data = pd.read_csv("data/ObesityDataSet.csv")

original_data = original_data.iloc[:, :len(original_data.nunique())-1]  # Removing the last column (obesity levels)  
original_data.nunique()

CONVERTING DATA INTO THE STANDARD FORM

In [41]:
standard_scalar = StandardScaler()
data_scaled = standard_scalar.fit_transform(data)
standard_data = pd.DataFrame(data_scaled, columns=data.columns)
standard_data.head()

     Height    Weight
0 -0.875589 -0.862558
1 -1.947599 -1.168077
2  1.054029 -0.366090
3  1.054029  0.015808
4  0.839627  0.122740

APPLYING THE K-MEANS ALGORITHM AND ASSIGNING THE RESULT INTO THE ORIGINAL DATA

In [48]:
km = KMeans(init="random", n_clusters=7)
predicted = km.fit_predict(standard_data)
data['cluster'] = predicted

# Transform cluster centers back to original scale
cluster_centers_original = standard_scalar.inverse_transform(km.cluster_centers_)

data

c:\Users\jurok\anaconda3\envs\AI-unsupervised\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

        Height      Weight  cluster
0     1.620000   64.000000        0
1     1.520000   56.000000        1
2     1.800000   77.000000        2
3     1.800000   87.000000        2
4     1.780000   89.800000        2
...        ...         ...      ...
2106  1.710730  131.408528        4
2107  1.748584  133.742943        4
2108  1.752206  133.689352        4
2109  1.739450  133.346641        4
2110  1.738836  133.472641        4

[2111 rows x 3 columns]

PLOTTING THE GROUPED DATA

In [ ]:
def random_color():
    return "#{:06x}".format(random.randint(0, 0xFFFFFF))


for i in range(7):
    cluster = data[data.cluster==i] 
    plt.scatter(cluster["Param1"], cluster["Param2"], color=random_color(), label=f'Cluster {i}') 

plt.scatter(cluster_centers_original[:, data.columns.get_loc('Param1')], 
            cluster_centers_original[:, data.columns.get_loc('Param2')], 
            color='purple', marker='*', label='Centroid')
plt.xlabel('Param1')
plt.ylabel('Param2')
plt.legend()
plt.title('Clusters on Original Data')
plt.show()

In [ ]:
# # Adjust pandas display settings
# pd.set_option('display.max_rows', None)     # Show all rows
# pd.set_option('display.max_columns', None)  # Show all columns
# pd.set_option('display.width', None)        # Don't truncate display width
# pd.set_option('display.max_colwidth', None) # Don't truncate column width

# data